@import url("styeles/header.css");
@import url("styeles/banner.css");
@import url("styeles/carrosel.css");
@import url("styeles/topicos.css");
@import url("styeles/contato.css");
@import url("styeles/rodape.css");
:root{
    --cor-de-fundo: #EBECEE;
    --branco:#FFFFFF;
    --laranja:#EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49% , #326589 165.37%);
    --font-principal: "Poppins";
    --azul: #002F52;
    --font-secundario: "Josefin Sans";
    --preto:#000000;
    --cinza:#474646;
    --cinza-claro:#858585;

}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--font-principal);
    font-size: 16px;
    width: 400;
}
